:root {
    --adoblue: #1A1A1D;
    --bluePrim: #548CFF;
    --greenPrim: #93FFD8;
    --purplePrim: #7900FF;
}

body {
    margin: 0;
    padding: 0;
    /* Prevent scrollbars from appearing */
    background: var(--adoblue);
    color: white;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    /* height: 100vh; */
    word-wrap: break-word;
}

.fullpage {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.fullWidth {
    width: 100%;
}

.divideEven {
    justify-content: space-evenly;
    align-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0;
    margin: 0;
}

.imageContainer {
    margin: 5%;
    position: relative;
    max-width: 300px;
    width: 100%;
}

.image {
    margin: 0;
}

.roundImage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.wrapper {
    flex-wrap: wrap;
}

.textCenter {
    text-align: center;
}

.fixed {
    position: sticky;
}

.row {
    width: 100%;
}

.spread {
    justify-content: space-evenly;
}


a {
    color: var(--bluePrim);
    font-weight: bold;
}

a:visited {
    color: white;
}

/* Base styles for larger screens (default) */
h1 {
    font-size: 3rem;
    /* 48px */
}

h2 {
    font-size: 2.5rem;
    /* 40px */
}

h3 {
    font-size: 1.25rem;
    /* 32px */
}

h4 {
    font-size: 1.15rem;
    /* 24px */
}

li {
    font-size: 1rem;
    /* 16px */
}

p {
    font-size: 1rem;
    /* 16px */
    line-height: 1.6;
}

/* Tablet screens (768px and below) */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        /* 40px */
    }

    h2 {
        font-size: 2rem;
        /* 32px */
    }

    h3 {
        font-size: 1rem;
        /* 28px */
    }

    h4 {
        font-size: 0.85rem;
        /* 20px */
    }

    li,
    p {
        font-size: 0.75rem;
        /* Slightly smaller for readability */
    }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
        /* 32px */
    }

    h2 {
        font-size: 1.75rem;
        /* 28px */
    }

    h3 {
        font-size: 0.8rem;
        /* 24px */
    }

    h4 {
        font-size: 0.7rem;
        /* 18px */
    }

    li,
    p {
        font-size: 0.6rem;
        /* Slightly smaller for compact screens */
    }
}