@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --adoblue: #222831;
    --bluePrim: #548CFF;
    --greenPrim: #93FFD8;
    --purplePrim: #7900ff;
    /* --borderColor: rgba(84, 140, 255, 0.5); */
    --borderColor: rgba(147, 255, 216, 0.5);
    --resumeTitlePrimary: #548CFF;
    --resumeTitleSecondary: #93FFD8;
    /* --borderColor: rgba(121, 0, 255, 0.5); */
    --background-color: #222831;
    --dark-purple: #AA2EE6;
    --nav-color: #212121;
    --light-purple: #AD62AA;
    --red: #E94560;
    --success: #5cb85c;
    --danger: #FA1E0E;
}

body {
    background-color: var(--background-color);
    color: white;
    word-wrap: break-word;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    margin-top: 3rem;
    padding-bottom: 20px;
    transition: all 0.2s ease;
}


#leftColumn {
    border-right: 2px solid var(--borderColor);
    height: 100vh;
    padding: 10px 20px;
    text-align: left;
}

.resumeItem {
    padding: 5px 3vw;
    text-align: left;
}

#mainNavbar {
    font-size: 1.9rem;
    font-weight: 100;
    padding: 0 1rem;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-evenly;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: var(--light-purple);
}

#mainNavbar .navbar-brand {
    color: var(--light-purple);
    font-size: 3rem;
}

.black {
    color: var(--nav-color)
}

.active {
    text-decoration: underline;
    text-decoration-color: var(--dark-purple);
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
}

.resumeHeaderSide,
.resumeHeader {
    border-bottom: 2px solid var(--borderColor);
    padding-left: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(0.4rem 2rem 3rem);
    padding-bottom: 10px;
    margin-top: 0;
    color: var(--greenPrim);

}

.resumeHeaderSide {
    text-align: left;
}

.resumeContent {
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

.resumeContent p {
    margin-bottom: 0;
}

.resumeList ul {
    list-style: none;
    padding: 0;
    position: relative;
}

.resumeList ul li {
    color: white;
    position: relative;
    margin-left: 20px;
    padding-left: 10px;
    padding: 10px 20px;
}


.bullet {
    color: white;
    font-size: 1rem;
    line-height: 1.25;
    font-family: "Jost", serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
}

.resumeList ul li:last-child {
    padding-bottom: 0;
}

.resumeList ul li::before {
    content: '';
    position: absolute;
    left: -20px;
    /* Position the bullet */
    top: 50%;
    /* Vertically align the bullet */
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: var(--greenPrim);
    border-radius: 50%;
}

.resumeList ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    left: -13px;
    /* Position the line relative to the bullet */
    top: calc(50% + 7px);
    /* Start from the bottom of the bullet */
    width: 2px;
    /* Thickness of the line */
    height: calc(100% - 14px);
    /* Line height */
    background-color: var(--greenPrim);

}

.link {
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease;
    cursor: pointer;
}

.link:hover {
    transform: scale(105%);
    color: var(--red);
    text-decoration: underline;
}

.resumeList ul li h4 {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--bluePrim);
}

.resumeList ul li p {
    margin-top: 5px;
}

#nameTitle {
    text-align: center;
    font-family: "Sixtyfour", serif;
    font-optical-sizing: auto;
    font-size: clamp(1rem, 5vw, 4rem);
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    margin-top: 2rem;
}

#jobOccupationTitle {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    font-weight: 400;
}

li::marker {
    color: var(--greenPrim);
}

#LukeWord {
    color: var(--resumeTitlePrimary)
}

#cardonaWord {
    color: var(--resumeTitleSecondary);
}

.skillList {
    flex-wrap: wrap;
}

.skillList:first-child {
    margin: 0;
    margin-right: 10px;
}

.skillItem {
    background-color: var(--bluePrim);
    color: white;
    align-self: center;
    font-weight: bold;
    padding: 7px;
    margin: 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.skillBlue {
    background-color: var(--bluePrim);
    color: white;
}

.skillGreen {
    background-color: var(--greenPrim);
    color: var(--adoblue);
}

.skillPurple {
    background-color: var(--purplePrim);
    color: white;
}

.fa-linkedin,
.fa-envelope {
    color: white;
    padding-right: 5px;
}

#contactMe {
    list-style: none;
    padding-left: 25px;
}

#leftColumn li {
    margin: 20px 0;
}

#rightColumn {
    width: 100%;
}

.blue {
    color: var(--bluePrim)
}

.sticky {
    position: sticky !important;
    align-self: flex-start;
    top: 0;
    width: 20%;
}

.image {
    margin: 0;
}

.flex {
    display: flex;
}

.paragraph {
    font-size: 1.25rem;
    line-height: 1.75;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.paragraphSmall {
    font-size: 1.15rem;
    line-height: 1.75;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.fullWidth {
    width: 100%;
}

.divideEven {
    justify-content: space-evenly;
    align-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0;
    margin: 0;
}

.imageContainer {
    margin: 5%;
    max-width: 20vh;
    width: 100%;
}

.wrapper {
    flex-wrap: wrap;
}

.textCenter {
    text-align: center;
}

.fixed {
    position: sticky;
}

.row {
    width: 100%;
}

.spread {
    justify-content: space-evenly;
}

.roundImage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

/* Tablet screens (768px and below) */
@media (max-width: 768px) {
    .sticky {
        width: 25%;
    }

    #rightColumn {
        width: 75%;
    }

    #leftColumn #contactMe {
        padding-left: 10px;
    }

    ul {
        padding-left: 10px;
    }

    .skillItem {
        font-size: 0.7rem;
    }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
    .sticky {
        width: 30%;
    }

    #rightColumn {
        width: 70%;
    }

    #leftColumn {
        padding: 5px;
        padding-left: 10px;
    }

    #contactMe {
        padding-left: 5px;
    }

    ul {
        padding-left: 10px;
    }

    .skillItem {
        font-size: 0.4rem;
    }
}