@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@800&family=Roboto&display=swap');

:root{
    --background-color: #222831;
    --dark-purple: #AA2EE6;
    --nav-color: #212121;
    --light-purple: #AD62AA;
    --red: #E94560;
    --success:#5cb85c;
    --danger: #FA1E0E;
}
body{
    background-color: var(--background-color);
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 6.5rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 6.5rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    width: 100%;
}

h3{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    margin-top: 3rem;
    padding-bottom: 20px;
    transition: all 0.2s ease;
}

h3:hover{
    transform: scale(102%);
    color: var(--red);
    cursor: pointer;
}

nav{
    padding: 0;
    margin: 0;
}

footer{
    text-align: center;
}

/* General Classes*/
.white{
    color: white;
}

.pink{
    color: var(--dark-purple);
}

.light-pink{
    color:var(--light-purple);
}

.black{
    color:  var(--nav-color)
}

.margin-top{
    margin-top: 3rem;
}

.top-margin-lg{
    margin-top: 45rem;
}

.margin{
    margin-left: 6rem;
}

.in-line{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.link{
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease;
    cursor: pointer;
}

.link:hover{
    transform: scale(105%);
    color:var(--red);
    text-decoration: underline;
}

.paragraphs{
    font-size: 1.5rem;
    line-height: 1.8;
    font-family: "Roboto" sans-serif;
    position: relative;
}

.background-text{
    color:#444444;
    font-weight: 200;
    font-size: 1.5rem;
    font-style: italic;
    padding-right:0;
    font-family: 'Dancing Script', cursive;;
}
.col{
    padding-right:0 ;
}
.special-background-text{
    color:#B2B1B9;
    font-weight: 500;
    font-size: 3rem;
    font-style: normal;
    font-family: 'Dancing Script', cursive;
}

.nameAnimation:hover{
    cursor: pointer;
    color: var(--red);
    animation: rubberBand 1s;
}

.container-fluid{
    padding:0;
    margin: 0;
}

.row{
    width: 100%;
}

/* End General Clsses*/
/*Id's */

#mainHeader{
    margin-top: 4rem;
    padding-left: 0;
}

#mainNavbar {
    font-size: 1.9rem;
    font-weight: 100;
    padding: 0 1rem;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-evenly;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color:var(--light-purple);
}

#mainNavbar .navbar-brand {
    color: var(--light-purple);
    font-size: 3rem;
}

#web-dev{
    animation: color-change 4s infinite alternate;
}

#aboutMe{
    margin-top: 7rem;
    padding:0;
}

#me-img{
    width: 50%;
    border-radius: 50%;
    display: block;
    padding:0;
}

#myButton{
    font-size: 50px;
    font-family: "Roboto" sans-serif;
    padding: 0.25rem 4rem;
    border-radius: 5%;
    color: var(--dark-purple);
    background-color: var(--background-color);
    box-shadow: none;
    position: relative;
    z-index: 1;
    border: var(--dark-purple) solid 1px;
    transition: all 0.25s ease-in;
}

#myButton:hover{
    cursor: pointer;
    color: var(--nav-color);
}

#myButton:before{
    transition: 0.4s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0%;
    opacity: 0;
    content: "";
    background-color: var(--dark-purple);
}

#myButton:hover:before{
    transition: 0.4s all ease;
    left: 0;
    right:0;
    opacity: 1;
    z-index: -1;
}

#recent-projects{
    margin-top: 6rem;
}

#recent-projects h2{
    margin-bottom: 4rem;
}

#barHeader{
    font-size:3rem;
    font-weight: 300;
    cursor: pointer;
    transition: all .3s;
}

#barHeader:hover,
.learning:hover{
    color: var(--red);
}

#mySkills{
    margin-top: 9rem;
}
 /*End Id's*/



/* To be fixed */
.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}
 /* About Me */
.me-img-container{
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeText{
    font-size: 1.5rem;
    line-height: 1.8;
    font-family: "Roboto" sans-serif;
    position: relative;
}

.textanimation span{
    color: #FF5F40;
    font-size: 1.75rem;
    transition: all
}

.aboutMeText span:nth-child(149){
    display: block;
    padding: 15px 0;
}
 /*End About Me*/

 /*Skills */
 .progress{
     width: 90%;
 }

 .bar-text{
    font-size: 2rem;
    padding: 15px 0;
    font-family: "Roboto" sans-serif;
}
.learning{
    transition: all .3s;
    cursor: pointer;
}
 /*End My Skills */
 /*My Work*/
.imgContainer{
    display:flex;
    justify-content: center;
}

.projectImg{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 90%;
    height: auto;
    border-radius: 22.5%;
    cursor: pointer;
}

.projectImg:hover{
    opacity: 85%;
}

.projects{
    position: relative;
    text-align: center;
    color: var(--dark-purple);
}

.centered{
    padding:0;
    margin: 0;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.projects{
    transition: all .2s ease-in;
}

.projects:hover{
    color: white;
    font-size: 4rem;
    font-weight: 900;
}
.comingSoon{
    transition: all .3s ease;
}

.comingSoon:hover{
    opacity: 30%;
}

 /*End My Work*/

 /*Contact me*/
#contactQuestions{
    margin-left: 0;
    padding-right:6rem;
    text-align: justify;
 }

#contactQuestions h3{
    text-align: left;
}

 /* Form */
#form-section{
    margin-top: 10rem;
    width: 100%;
    margin-bottom: 4rem;
}

#final-text{
    margin-left: 0;
}

#formButton{
    transition: 0.15s all ease-in-out;
}

.form-container{
    width: 75%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group{
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid var(--light-purple);
    margin-top: 10px;
    color: white;
    background-color: #2B2B2B;
}

input:placeholder-shown,
textarea:placeholder-shown{
    font-style: italic;
}

textarea{
    resize:none;
}

button[type="submit"]{
    width: 100%;
    outline: none;
    padding: 20px;
    font-size: 2rem;
    border: 2px solid var(--dark-purple);
    border-radius: 20px;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color transform;
}

button[type="submit"]:hover{
    background-color: var(--dark-purple);
    transform: scale(99%);
}

#status{
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success{
    background-color:var(--success);
    animation: status 4s ease forwards;
}

#status.error{
    color: white;
    background-color:var(--danger);
    animation: status 4s ease forwards;
}

/* Scroll Hint */

.arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
    background-size: contain;
  }

  .arrow:first-child {
    bottom: 20px;
    opacity: 0.3;
  }
  
  .pulse:not(:first-child){
    opacity: 1;
    animation-delay: .3s;
  }
  .pulse {
    opacity: 0.3;
    animation: pulse 2s infinite;
  }
  
/*media respoviness*/
@media(max-width:1500px){
    #barHeader{
        font-size: 2.5rem;
    }
}

@media(max-width:1300px){
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 4.5rem;
    }
    #barHeader{
        font-size:2rem;
    }
    .bar-text{
        font-size: 1rem;
    }
    .paragraphs{
        font-size: 1.25rem;
    }
}
@media(max-width:1105px){
    h1{
        font-size: 4.5rem;
    }
    h2{
        font-size: 4.5rem;
    }
    .aboutMeText{
        font-size: 1.25rem;
    }
    .textanimation span{
        font-size: 1.5rem;
    }
}

@media(max-width:990px){
    h1{
        font-size: 4.5rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2rem;
    }
    .margin{
        margin-left: 2.5rem;
    }
    .special-background-text{
        font-size: 2.5rem;
    }
    .background-text{
        font-size: 2rem;
    }
    .aboutMeText{
        font-size: 1.25rem;
    }
    #me-img{
        padding-top: 6rem;
    }
    
    .textanimation span{
      
      font-size: 1.5rem;
    }
    #myButton{
        font-size: 2rem;
    }
    #formButton{
        font-size: 2rem;
    }
    .paragraphs{
        font-size: 1.5rem;
    }
    .centered{
        font-size: 2rem;
    }
    #me-img{
        padding: 5rem;
    }
    #mySkillsH1{
        font-size: 4.5rem;
    }
}

/*Bootstrap lg */
@media(max-width:960px){

    /*All Sections Specific Responivness*/
    #aboutMe,
    #mySkills,
    #recent-projects,
    #form-section{
        text-align: center;
    }

    #aboutMe .background-text,
    #mySkills .background-text,
    #recent-projects .background-text,
    #form-section .background-text{
        display: none;
    }

    #aboutMe h2,
    #mySkills h2,
    #recent-projects h2{
        margin-bottom: 4rem;
    }

    /*About Me Respoviness */
    #myText{
        padding: 0 2rem;
    }

    #audioText{
        display: inline !important;
    }

    /*My Skills Respoviness */
    #mySkills{
        margin-top:2rem;
    }

    .progress{
        width: 100%;
    }

    /*Projects Respoviness */

    /*Contact Me Responivness */
    #form-section{
        margin-top: 5rem;
        margin-bottom: 0;
    }

    #contactQuestions{
        padding-right:2rem;
    }

    /*Form Responivness */
    .form-container{
        width:90%;
        text-align: left;
        margin-bottom: 0;
    }
    
}

@media(max-width: 730px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3.5rem;
    }
    h3{
        font-size: 1.75rem;
    }
    .margin{
        margin-left: 1rem;
    }
    .special-background-text{
        font-size: 2rem;
    }
    .background-text{
        font-size: 1.5rem;
    }
    .aboutMeText{
        font-size: 1.1rem;
    }
    .textanimation span{
        font-size: 1.25rem;
    }
    #myButton{
        font-size: 1.5rem;
    }
    .paragraphs{
        font-size: 1.25rem;
    }
    #myButton{
        font-size: 1.5rem;
    }
    #formButton{
        font-size: 1.5rem;
    }

    #me-img{
        padding: 4rem;
    }
}

@media(max-width:550px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .margin{
        margin-left: 0.5rem;
    }
    .special-background-text{
        font-size: 1.5rem;
    }
    .background-text{
        font-size: 1rem;
    }
    #mainNavbar .navbar-brand {
        font-size: 1.5rem;
    }
    .aboutMeText{
        font-size: 0.9rem;
    }
    .textanimation span{
        font-size: 1.1rem;
    }
    #myButton{
        font-size: 1.25rem;
    }
    #formButton{
        font-size: 1.25rem;
    }
    .centered{
        font-size: 1.5rem;
    }
    #me-img{
        padding: 3rem;
    }
    .paragraphs{
        font-size: 1rem;
    }
}

@media(max-width:385px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    .margin{
        margin-left: 0.5rem;
    }
    .special-background-text{
        font-size: 1rem;
    }
    .background-text{
        font-size: 0.75rem;
    }
    #mainNavbar .navbar-brand {
        color: var(--light-purple);
        font-size: 1.5rem;
    }
    #mainNavbar .nav-link {
        font-size: 1.5rem;
    }
    .centered{
        font-size: 1rem;
    }
    #myButton{
        font-size: 1rem;
    }
    #formButton{
        font-size: 1rem;
    }
    #me-img{
        padding: 3rem;
    }
    .paragraphs{
        font-size: .75rem;
    }
}
@media(max-width: 767px){
    .site-grid {
        margin-top: 0 px;
        overflow-x: hidden;
    }
}


/*KeyFrames */
@keyframes pulse {
    0%  { opacity: 1;   }
    90% { opacity: 0.3; }
}
  
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes rubberBand{
    0%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(.75,1.25,1.25);
    }
    45%{
        transform: scale3d(1,.75,1);
    }
    60%{
        transform: scale3d(0.8,1.2,1.2);
    }
    75%{
        transform: scale3d(0.95,1.05,1.05);
    }
    100%{
        transform: scale3d(1,1,1); 
    }
}
@keyframes color-change{
    0%{
        color: crimson;
    }

    25%{
        color:#FF79CD;
    }
    50%{
        color: #AA2EE6;
    }

    75%{
        color: #FFDF6B;
    }

    100%{
        color: #FF5F40;
    }
}
